# IDE configurations
.vscode

# Python cache files
**/__pycache__/**
**/*.pyc

# Jupyter files
**/.ipynb_checkpoints/**

# Build
source/_build

# Virtual environment
venv

# Homework solutions
homework