jupyter-book~=0.8
jupyter-nbextensions-configurator~=0.4
matplotlib==3.3.3
nibabel~=3.2
nilearn~=0.7
numpy~=1.19
pandas~=1.1
seaborn~=0.11
sklearn
sphinxcontrib-bibtex==1.0.0
statsmodels~=0.12
xlrd~=1.2